<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base/common_head :: common_head">
</head>
<body>
<div th:include="base/common_js :: common_js"></div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<div class="layui-row">
    <div class="layui-col-xs3">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>物品分类</legend>
        </fieldset>
        <div style="display: inline-block; width: 200px; overflow: auto;">
            <input type="hidden" id="typeId">
            <ul id="productTypeTree"></ul>
        </div>
    </div>
    <div class="layui-col-xs9">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>物品管理</legend>
            <div class="layui-row">
                <div class="layui-col-md8">
                    <div class="grid-demo grid-demo-bg1">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">物品名称/编码</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="keyword" id="keyword"  autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <button id="btnSearch" class="layui-btn layui-btn-normal">搜索</button>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md3">
                    <div class="layui-btn-group" style="float:right">
                        <button class="layui-btn" id="add">增加</button>
                    </div>
                </div>
            </div>
            <table class="layui-table" id="LAY_table_productSku"  lay-filter="productSku">
            </table>
        </fieldset>
    </div>
</div>

<script type="text/html" id="handlebar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    var tableArray = [
        { title: '序号', type:"numbers"}
        ,{field:'skuCode', title: '编码'}
        ,{field:'name', title: '名称'}
        ,{field:'typeName', title: '类别'}
        ,{field:'brand', title: '品牌'}
        ,{field:'model', title: '规格型号'}
        ,{field:'vendorName', title: '供应商'}
        ,{field:'shelfLife', title: '保质期天数'}
        ,{field:'remark', title: '备注'}
        ,{toolbar: '#handlebar', title: '操作',width:120}
    ]

    productTypeTree = {}
    baseConfig.ajax.post({
        url:"/product/productType/tree",
        async: false,
        data:{},
        success:function(data){
            productTypeTree = data;
        }
    })
    baseConfig.layui.init({
        use:['element', 'layer','tree', 'form', 'laydate','table'],
        useTable:{
            toolName:"productSku",
            onTool:function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('确认删除'+ data.name +'物品吗？', function(index){
                        layer.close(index);
                        baseConfig.ajax.post({
                            url:"/product/productSku/delete",
                            data:{
                                id:data.id
                            },
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    reload_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    });
                } else if (obj.event === 'edit') {
                    update_productSku("edit",data.id)
                }
            }
        },
        tableRender:{
            elem: 'LAY_table_productSku'
            ,url: '/product/productSku/list'
            ,cols: [tableArray]
            ,id: 'productSkuReload'
        },
        tree:{
            treeData:productTypeTree,
            clickFunction:function(item){
                console.log($(item))
                $("#typeId").val(item.typeId)
                reload_table();
            }
        }
    })


    function reload_table(){
        baseConfig.layui.reloadTable({
            renderId:'productSkuReload',
            params:{
                "keyword":$("#keyword").val(),
                "typeId":$("#typeId").val()
            }
        })
    }

    $("#btnSearch").click(function () {
        reload_table();
    });

    var addBoxIndex = -1;
    $('#add').on('click', function() {
        update_productSku("add")
    })
    function update_productSku(type,id){
        if(addBoxIndex !== -1)
            return;
        //本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
        url = baseUrl+'/product/productSku/detail.html';
        if("edit"==type){
            url=url+"?id="+id
            title = "编辑物品"
        }else{
            title = "新增物品"
        }
        $.get(url, null, function(form) {
            addBoxIndex = layer.open({
                type: 1,
                title: title,
                content: form,
                btn: ['保存', '取消'],
                shade:[0.8, '#393D49'],
                offset: 'auto',
                area: ['1000px', '650px'],
                maxmin: true,
                yes: baseConfig.layui.openyes,
                full: function(elem) {
                    baseConfig.ajaxFull(elem)
                },
                success: baseConfig.layui.opensuccess({
                    submitId:"update",
                    onSubmit:function(data) {
                        baseConfig.ajax.post({
                            url:'/product/productSku/update',
                            data:data.field,
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    layui.layer.closeAll('page');
                                    reload_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    }
                }),
                end: function() {
                    addBoxIndex = -1;
                }
            });
        });
    }

</script>
</body>
</html>
