<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base/common_head :: common_head">
</head>
<body>
<div th:include="base/common_js :: common_js"></div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>入库单管理</legend>
</fieldset>
<div class="layui-row">
    <form class="layui-form layui-form-pane">
        <div class="layui-col-md10">
            <div class="layui-form-item layui-col-md10" >
                <div class="layui-col-md3" style="margin-left: 10px;">
                    <div class="layui-input-inline">
                        <input name="date" id="invInSearchDate" placeholder="入库起止时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select name="vendorId" id = "invInVendorId">
                                <option value="">选择供应商</option>
                                <div th:each="vendor:${vendorList}">
                                    <option  th:value="${vendor.id}" th:text="${vendor.name}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select name="status" id = "invInStatus">
                                <option value="">所有状态</option>
                                <option value="0">待入库</option>
                                <option value="1">已入库</option>
                                <option value="2">透支入库</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        <span id="btnSearch" class="layui-btn layui-btn-normal">搜索</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-col-md2">
        <div class="layui-btn-group" style="float:left">
            <button class="layui-btn" id="add">增加</button>
        </div>
    </div>
</div>
<table class="layui-table" id="LAY_table_invIn"  lay-filter="invIn">
</table>
<script type="text/html" id="handlebar">
    {{# if(d.status==0){ }}
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="warehousing">入库</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
    {{# if(d.status==1){ }}
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    {{# } }}
</script>
<script>
    var tableArray = [
        { title: '序号', type:"numbers",align:'center'}
        ,{field:'id', title: '入库单编号',align:'center'}
        ,{field:'vendorName', title: '供应商',align:'center'}
        ,{field:'date', title: '入库日期',align:'center'}
        ,{field:'totalPrice', title: '总金额',align:'center'}
        ,{field:'status__dic', title: '状态',align:'center'}
        ,{toolbar: '#handlebar', title: '操作',align:'center'}
    ]

    layui.use(['form','laydate'], function() {
        var form = layui.form;
        form.render();
        var laydate = layui.laydate;
        laydate.render({
            elem: '#invInSearchDate',
            range:'~'
        });
    });

    baseConfig.layui.init({
        use:['element', 'layer', 'form', 'laydate','table'],
        useTable:{
            toolName:"invIn",
            onTool:function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('确认删除该入库单吗？', function(index){
                        layer.close(index);
                        baseConfig.ajax.post({
                            url:"/stock/invIn/delete",
                            data:{
                                id:data.id
                            },
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    reload_invIn_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    });
                } else if (obj.event === 'edit') {
                    update_invIn("edit",data.id)
                } else if (obj.event === 'view') {
                    update_invIn("view",data.id)
                } else if (obj.event === 'warehousing') {
                    layer.confirm('是否确认入库？', function(index){
                        layer.close(index);
                        baseConfig.ajax.post({
                            url:"/stock/invIn/wareHousing",
                            data:{
                                id:data.id
                            },
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    reload_invIn_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    });
                }
            }
        },
        tableRender:{
            elem: 'LAY_table_invIn'
            ,url: '/stock/invIn/list'
            ,cols: [tableArray]
            ,id: 'invInReload'
        }
    })

    function reload_invIn_table() {
        var data = {};
        var invInDate = $("#invInSearchDate").val();
        if(!isEmptyString(invInDate)){
            var dateArray = invInDate.split("~");
            var startDate = $.trim(dateArray[0]);
            var endDate = $.trim(dateArray[1]);
            data.startDate = startDate;
            data.endDate = endDate;
        }else{
            data.startDate = "";
            data.endDate = "";
        }
        data.status = $("#invInStatus").val();
        data.vendorId = $("#invInVendorId").val();
        baseConfig.layui.reloadTable({
            renderId:'invInReload',
            params:data
        })
    }
    
    $("#btnSearch").click(function () {
        reload_invIn_table();
    });

    var addBoxIndex = -1;
    $('#add').on('click', function() {
        update_invIn("add")
    })
    function update_invIn(type,id){
        if(addBoxIndex !== -1)
            return;
        //本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
        url = baseUrl+'/stock/invIn/detail.html';
        handleBtn = ['保存', '取消']
        if("edit"==type){
            url=url+"?type=edit&id="+id
            title = "编辑入库单"
        }if("view"==type){
            url=url+"?type=view&id="+id
            title = "查看入库单"
            handleBtn = ['确定']
        }else{
            title = "新增入库单"
        }
        $.get(url, null, function(form) {
            addBoxIndex = layer.open({
                type: 1,
                title: title,
                content: form,
                btn: handleBtn,
                shade:[0.8, '#393D49'],
                offset: 'auto',
                area: ['1000px', '650px'],
                maxmin: true,
                yes: baseConfig.layui.openyes,
                full: function(elem) {
                    baseConfig.ajaxFull(elem)
                },
                success: baseConfig.layui.opensuccess({
                    submitId:"update",
                    onSubmit:function(data) {
                        if(type == "view"){
                            layui.layer.closeAll('page');
                            return false;
                        }
                        var invInDetailList = [];
                        $('#invInDetailTable tbody tr').each(function(){
                            var quantity = parseFloat($(this).find('.detail_quantity').val());
                            var unitPrice = parseFloat($(this).find('.detail_unitPrice').val());
                            var subTotal = (quantity * unitPrice);
                            invInDetailList.push({
                                productSkuCode:$(this).find('.detail_productSkuCode').html(),
                                productSkuName:$(this).find('.detail_productSkuName').html(),
                                quantity:quantity,
                                unitPrice:unitPrice,
                                subTotal:subTotal
                            })
                        })
                        dataField = data.field;
                        dataField.invInDetailList = invInDetailList
                        baseConfig.ajax.post({
                            url:'/stock/invIn/update',
                            data:dataField,
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    layui.layer.closeAll('page');
                                    reload_invIn_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    }
                }),
                end: function() {
                    addBoxIndex = -1;
                }
            });
        });
    }

</script>
</body>
</html>
