<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base/common_head :: common_head">
</head>
<div style="margin: 15px;">
    <form class="layui-form layui-form-pane">
        <input type="hidden" name="id" value="" th:value="${invIn?.id}">
        <input type="hidden" id="operateType" th:value="${type}">
        <div class="layui-row">
            <div class="layui-col-xs4">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">供应商</label>
                        <div class="layui-input-inline">
                            <select name="vendorId" lay-verify="required" th:readonly="${type eq 'view'}">
                                <option value="">选择供应商</option>
                                <div th:each="vendor:${vendorList}">
                                    <option th:selected="${vendor.id eq invIn?.vendorId}" th:value="${vendor.id}" th:text="${vendor.name}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">入库类型</label>
                        <div class="layui-input-inline">
                            <select name="type" lay-verify="required" th:readonly="${type eq 'view'}">
                                <option value="">选择入库类型</option>
                                <div th:each="type:${typeList}">
                                    <option th:selected="${type.key eq invIn?.type}" th:value="${type.key}" th:text="${type.value}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-xs4">
                <div class="layui-form-item">
                    <label class="layui-form-label">入库日期</label>
                    <div class="layui-input-inline">
                        <input type="text" name="date" th:readonly="${type eq 'view'}" id="invInDate" th:value="${invIn?.date}" placeholder="请输入"  lay-verify="required" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">备注</label>
                <div class="layui-input-block">
                    <textarea name="remark" th:readonly="${type eq 'view'}" th:text="${invIn?.remark}" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div>
            <div class="layui-row" th:if="${type ne 'view'}">
                <div class="layui-col-md2">
                    <div class="layui-btn-group" style="float:right">
                        <span class="layui-btn" id="addProduct">添加商品</span>
                    </div>
                </div>
            </div>
            <input type="hidden" id="invInDetailList">
            <table  class="layui-table" id="invInDetailTable">
                <thead>
                    <tr align="center">
                        <th>商品编码</th>
                        <th>商品名</th>
                        <th>入库数量</th>
                        <th>入库单价</th>
                        <th>小计</th>
                        <th>操作</th>
                    </tr>
                    <tr id="invInDetailTemplate" style="display:none">
                        <td class="detail_productSkuCode" style="text-align:center;">:productSkuCode</td>
                        <td class="detail_productSkuName" style="text-align:center;">:productSkuName</td>
                        <td  style="text-align:center;"><input class="detail_quantity"  type='text' value=":quantity" style='border:none;text-align:center;background-color: #00F7DE' size='5px'/></td>
                        <td  style="text-align:center;"><input class="detail_unitPrice" type='text' value=':unitPrice' style='border:none;text-align:center;background-color: #00F7DE' size='5px'/></td>
                        <td class="detail_subTotal" style="text-align:center">:subTotal</td>
                        <td><a class="detail_delete" href="javascript:void(0)">删除</a></td>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="invInDetail:${invIn?.invInDetailList}">
                        <td class="detail_productSkuCode" style="text-align:center;" th:text="${invInDetail?.productSkuCode}">:productSkuCode</td>
                        <td class="detail_productSkuName" style="text-align:center;" th:text="${invInDetail?.productSkuName}">:productSkuName</td>
                        <td  style="text-align:center;"><input class="detail_quantity"  type='text' th:value="${invInDetail?.quantity}" value=":quantity" style='border:none;text-align:center;background-color: #00F7DE' size='5px'/></td>
                        <td  style="text-align:center;"><input class="detail_unitPrice" type='text' th:value="${invInDetail?.unitPrice}" value=':unitPrice' style='border:none;text-align:center;background-color: #00F7DE' size='5px'/></td>
                        <td class="detail_subTotal" style="text-align:center" th:text="${invInDetail?.subTotal}">:subTotal</td>
                        <td><a th:if="${type ne 'view'}" class="detail_delete" href="javascript:void(0)">删除</a></td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td>合计</td>
                    <td></td>
                    <td class="sum_quantity" style="text-align:center"></td>
                    <td></td>
                    <td class="sum_totalPrice" style="text-align:center"></td>
                    <td></td>
                </tr>
                </tfoot>
            </table>
        </div>
        <button lay-filter="update" lay-submit style="display: none;"></button>
    </form>
</div>
<script>
    layui.use(['form','laydate'], function() {
        var form = layui.form;
        form.render();
        var laydate = layui.laydate;
        laydate.render({
            elem: '#invInDate'
        });
    })

    calculate = function(){
        var sumQuantity = 0.00;
        var sumTotalPrice = 0.00;
        $('#invInDetailTable tbody tr').each(function(index,item){
            var quantity = parseFloat($(this).find('.detail_quantity').val());
            var unitPrice = parseFloat($(this).find('.detail_unitPrice').val());
            var totalPrice = (quantity * unitPrice);
            $(this).find('.detail_subTotal').text(totalPrice.toFixed(2));
            sumQuantity += quantity;
            sumTotalPrice += totalPrice;
        })
        $('.sum_quantity').text(sumQuantity.toFixed(2));
        $('.sum_totalPrice').text(sumTotalPrice.toFixed(2));
    }
    setDetailEvents = function(){
        $('.detail_quantity').unbind('change');
        $('.detail_quantity').change(function(){
            if(!$.isNumeric($(this).val()) || parseFloat($(this).val())<=0){
                layerTips.msg('输入无效');
                $(this).val(1);
            }
            calculate();
        })
        $('.detail_unitPrice').unbind('change');
        $('.detail_unitPrice').change(function(){
            if(!$.isNumeric($(this).val()) || parseFloat($(this).val())<=0){
                layerTips.msg('输入无效');
                $(this).val(1);
            }
            calculate();
        })
        $('.detail_delete').unbind('click');
        $('.detail_delete').click(function(){
            $(this).parent().parent().remove();
            calculate();
        })
    }


    $(document).ready(function() {
        setDetailEvents();
        calculate();
        $('#addProduct').on('click', function () {
            //本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
            var url = baseUrl + '/product/productSku/search.html';
            $.get(url, null, function (form) {
                addBoxIndex = layer.open({
                    type: 1,
                    title: '选择商品',
                    content: form,
                    btn: ['确定', '取消'],
                    shade: [0.8, '#393D49'],
                    offset: 'auto',
                    area: ['1000px', '600px'],
                    maxmin: true,
                    yes: function (index) {
                        //触发表单的提交事件
                        if (!isEmptyString($("#productSkuList").val())) {
                            var productSkuList = JSON.parse($("#productSkuList").val());
                            $.each(productSkuList, function (index, item) {
                                var itemHtml = $('#invInDetailTemplate').html();
                                itemHtml = itemHtml.replace(/:productSkuCode/g, item.skuCode);
                                itemHtml = itemHtml.replace(/:productSkuName/g, item.name);
                                itemHtml = itemHtml.replace(/:quantity/g, '1');
                                itemHtml = itemHtml.replace(/:unitPrice/g, '0');
                                itemHtml = itemHtml.replace(/:subTotal/g, '0');
                                $('#invInDetailTable tbody').append('<tr>' + itemHtml + '</tr>');
                            })
                            setDetailEvents();
                            calculate();
                            layer.close(index);
                        }
                    },
                    end: function () {
                        addBoxIndex = -1;
                    }
                });
            });
        });
    })



</script>


