<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base/common_head :: common_head">
</head>
<body>
<div th:include="base/common_js :: common_js"></div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>出库单管理</legend>
</fieldset>
<div class="layui-row">
    <form class="layui-form layui-form-pane">
        <div class="layui-col-md10">
            <div class="layui-form-item layui-col-md10" >
                <div class="layui-col-md3" style="margin-left: 10px;">
                    <div class="layui-input-inline">
                        <input name="date" id="invOutSearchDate" placeholder="出库起止时间" autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select name="status" id = "invOutStatus">
                                <option value="">所有状态</option>
                                <option value="0">待出库</option>
                                <option value="1">已出库</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-form-item">
                        <div class="layui-input-inline">
                            <select name="takeUserId" id = "takeUserId">
                                <option value="">领用人</option>
                                <div th:each="user:${userlist}">
                                    <option  th:value="${user.userName}" th:text="${user.userName}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md2">
                    <div class="layui-input-inline">
                        <span id="btnSearch" class="layui-btn layui-btn-normal">搜索</span>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="layui-col-md2">
        <div class="layui-btn-group" style="float:left">
            <button class="layui-btn" id="add">增加</button>
        </div>
    </div>
</div>
<table class="layui-table" id="LAY_table_invOut"  lay-filter="invOut">
</table>
<script type="text/html" id="handlebar">
    {{# if(d.status==0){ }}
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
        <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="warehousing">出库</a>
        <a class="layui-btn layui-btn-xs layui-btn-warm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
    {{# } }}
    {{# if(d.status==1){ }}
        <a class="layui-btn layui-btn-xs" lay-event="view">查看</a>
    {{# } }}
</script>
<script>
    var tableArray = [
        { title: '序号', type:"numbers"}
        ,{field:'id',width:'200', title: '出库单编号'}
        ,{field:'type__dic',width:'120', title: '出库类型'}
        ,{field:'date',width:'150', title: '出库日期'}
        ,{field:'takeUserId',width:'150', title: '领用人'}
        ,{field:'totalPrice',width:'100',title: '总金额'}
        ,{field:'status__dic', width:'100',title: '状态'}
        ,{toolbar: '#handlebar',width:'200', title: '操作'}
    ]

    layui.use(['form','laydate'], function() {
        var form = layui.form;
        form.render();
        var laydate = layui.laydate;
        laydate.render({
            elem: '#invOutSearchDate',
            range:'~'
        });
    });

    baseConfig.layui.init({
        use:['element', 'layer', 'form', 'laydate','table'],
        useTable:{
            toolName:"invOut",
            onTool:function (obj) {
                var data = obj.data;
                if (obj.event === 'del') {
                    layer.confirm('确认删除该出库单吗？', function(index){
                        layer.close(index);
                        baseConfig.ajax.post({
                            url:"/stock/invOut/delete",
                            data:{
                                id:data.id
                            },
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    reload_invOut_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    });
                } else if (obj.event === 'edit') {
                    update_invOut("edit",data.id)
                } else if (obj.event === 'view') {
                    update_invOut("view",data.id)
                } else if (obj.event === 'warehousing') {
                    layer.confirm('是否确认出库？', function(index){
                        layer.close(index);
                        baseConfig.ajax.post({
                            url:"/stock/invOut/outTreasury",
                            data:{
                                id:data.id
                            },
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    reload_invOut_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    });
                }
            }
        },
        tableRender:{
            elem: 'LAY_table_invOut'
            ,url: '/stock/invOut/list'
            ,cols: [tableArray]
            ,id: 'invOutReload'
        }
    })

    function reload_invOut_table() {
        var data = {};
        var invOutDate = $("#invOutSearchDate").val();
        if(!isEmptyString(invOutDate)){
            var dateArray = invOutDate.split("~");
            var startDate = $.trim(dateArray[0]);
            var endDate = $.trim(dateArray[1]);
            data.startDate = startDate;
            data.endDate = endDate;
        }else{
            data.startDate = "";
            data.endDate = "";
        }
        data.status = $("#invOutStatus").val();
        data.vendorId = $("#invOutVendorId").val();
        data.takeUserId=$("#takeUserId").val();
        baseConfig.layui.reloadTable({
            renderId:'invOutReload',
            params:data
        })
    }
    
    $("#btnSearch").click(function () {
        reload_invOut_table();
    });

    var addBoxIndex = -1;
    $('#add').on('click', function() {
        update_invOut("add")
    })
    function update_invOut(type,id){
        if(addBoxIndex !== -1)
            return;
        //本表单通过ajax加载 --以模板的形式，当然你也可以直接写在页面上读取
        url = baseUrl+'/stock/invOut/detail.html';
        handleBtn = ['保存', '取消']
        if("edit"==type){
            url=url+"?type=edit&id="+id
            title = "编辑出库单"
        }if("view"==type){
            url=url+"?type=view&id="+id
            title = "查看出库单"
            handleBtn = ['确定']
        }else{
            title = "新增出库单"
        }
        $.get(url, null, function(form) {
            addBoxIndex = layer.open({
                type: 1,
                title: title,
                content: form,
                btn: handleBtn,
                shade:[0.8, '#393D49'],
                offset: 'auto',
                area: ['1000px', '650px'],
                maxmin: true,
                yes: baseConfig.layui.openyes,
                full: function(elem) {
                    baseConfig.ajaxFull(elem)
                },
                success: baseConfig.layui.opensuccess({
                    submitId:"update",
                    onSubmit:function(data) {
                        if(type == "view"){
                            layui.layer.closeAll('page');
                            return false;
                        }
                        var invOutDetailList = [];
                        $('#invOutDetailTable tbody tr').each(function(){
                            var quantity = parseFloat($(this).find('.detail_quantity').val());
                            var unitPrice = parseFloat($(this).find('.detail_unitPrice').val());
                            var subTotal = (quantity * unitPrice);
                            invOutDetailList.push({
                                productSkuCode:$(this).find('.detail_productSkuCode').html(),
                                productSkuName:$(this).find('.detail_productSkuName').html(),
                                quantity:quantity,
                                unitPrice:unitPrice,
                                subTotal:subTotal
                            })
                        })
                        dataField = data.field;
                        dataField.invOutDetailList = invOutDetailList
                        baseConfig.ajax.post({
                            url:'/stock/invOut/update',
                            data:dataField,
                            success:function(data){
                                if(data.success){
                                    layerTips.msg(data.message);
                                    layui.layer.closeAll('page');
                                    reload_invOut_table(); //刷新
                                }else{
                                    layerTips.msg(data.message);
                                }
                            }
                        })
                    }
                }),
                end: function() {
                    addBoxIndex = -1;
                }
            });
        });
    }

</script>
</body>
</html>
