<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liaojun.webadmin.stock.mapper.InvCheckMapper" >
  <resultMap id="BaseResultMap" type="com.liaojun.webadmin.stock.model.InvCheck" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="VARCHAR" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
  </resultMap>

  <resultMap id="invCheckDetailResultMap" type="com.liaojun.webadmin.stock.model.InvCheck" extends="BaseResultMap" >
    <collection property="invCheckDetailList" ofType="com.liaojun.webadmin.stock.model.InvCheckDetail" resultMap="detailResultMap"/>
  </resultMap>

  <resultMap id="detailResultMap" type="com.liaojun.webadmin.stock.model.InvCheckDetail" >
    <id column="detail_id" property="id" jdbcType="VARCHAR" />
    <result column="inv_check_id" property="invCheckId" jdbcType="VARCHAR" />
    <result column="product_sku_id" property="productSkuId" jdbcType="VARCHAR" />
    <result column="product_sku_code" property="productSkuCode" jdbcType="VARCHAR" />
    <result column="product_sku_name" property="productSkuName" jdbcType="VARCHAR" />
    <result column="product_type_name" property="productTypeName" jdbcType="VARCHAR" />
    <result column="brand" property="brand" jdbcType="VARCHAR" />
    <result column="model" property="model" jdbcType="VARCHAR" />
    <result column="vendor_name" property="vendorName" jdbcType="VARCHAR" />
    <result column="stocks" property="stocks" jdbcType="INTEGER" />
    <result column="check_quantity" property="checkQuantity" jdbcType="INTEGER" />
    <result column="diff_quantity" property="diffQuantity" jdbcType="INTEGER" />
  </resultMap>


  <select id="findList" resultMap="BaseResultMap">
    select tic.*,tu.user_name from t_inv_check tic left join t_user tu on tic.user_id=tu.id
    where 1 = 1
    <if test="invCheck != null">
      <if test="invCheck.startDate != null">
        <![CDATA[ AND tic.date >= #{invCheck.startDate} ]]>
      </if>
      <if test="invCheck.endDate != null">
        <![CDATA[ AND tic.date <= #{invCheck.endDate} ]]>
      </if>
    </if>
    <if test="sortRequest != null">
      order by ${sortRequest.sortKey}  ${sortRequest.sortDirection}
    </if>
    <if test="pageRequest != null">
      limit ${pageRequest.page}, ${pageRequest.limit}
    </if>
  </select>

  <select id="findListCount" resultType="int">
    select count(1) from t_inv_check tic left join t_user tu on tic.user_id=tu.id
    where 1 = 1
    <if test="invCheck != null">
      <if test="invCheck.startDate != null">
        <![CDATA[ AND tic.date >= #{invCheck.startDate} ]]>
      </if>
      <if test="invCheck.endDate != null">
        <![CDATA[ AND tic.date <= #{invCheck.endDate} ]]>
      </if>
    </if>
  </select>

  <select id="findById" resultMap="invCheckDetailResultMap" parameterType="java.lang.String" >
    select tic.*,tu.user_name,ticd.id detail_id,ticd.product_sku_id,
    ticd.product_sku_code,ticd.product_sku_name,ticd.product_type_name,ticd.brand,ticd.model,ticd.vendor_name,
    ticd.check_quantity,ticd.diff_quantity,ticd.stocks
    from t_inv_check tic left join t_user tu on tic.user_id=tu.id
    left join t_inv_check_detail ticd on ticd.inv_check_id = tic.id
    where tic.id=#{id}
  </select>
</mapper>