<html xmlns:th="http://www.thymeleaf.org">
<head th:include="base/common_head :: common_head">
</head>
<div th:include="base/common_js :: common_js"></div>
<script th:src="@{/layui/layui.js}" charset="utf-8"></script>
<style>
    dd{
        margin-left: 35px;
    }
</style>
<body>
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div th:include="base/top :: top">
    </div>

    <div class="layui-side layui-bg-black kit-side">
        <div class="layui-side-scroll">
            <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
            <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;">&#xe68e;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;首页</span></a>

                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;">&#xe613;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;客户管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="customer/customer/list.html" data-icon="&#xe658" data-title="客户管理" kit-target data-id='1'><span>客户管理</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;" aria-hidden="true">&#xe612;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;供应商管理</span></a>
                    <dl class="layui-nav-child">
                        <dd></span><a href="javascript:;" data-url="product/vendor/list.html" data-icon="&#xe658" data-title="供应商管理" kit-target data-id='2'><span>供应商管理</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;" aria-hidden="true">&#xe857;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;库存管理</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="product/productType/list.html" data-icon="&#xe658" data-title="物品分类管理" kit-target data-id='3'><span>物品分类管理</span></a></dd>
                        <dd><a href="javascript:;" data-url="product/productSku/list.html" data-icon="&#xe658" data-title="物品管理" kit-target data-id='4'><span>物品管理</span></a></dd>
                        <dd><a href="javascript:;" data-url="stock/inv/list.html" data-icon="&#xe658" data-title="当前库存" kit-target data-id='5'><span>当前库存</span></a></dd>
                        <dd><a href="javascript:;" data-url="stock/invWarning/list.html" data-icon="&#xe658" data-title="缺货统计" kit-target data-id='6'><span>缺货统计</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;" aria-hidden="true">&#xe63c;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;订单统计</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="stock/invIn/list.html" data-icon="&#xe658" data-title="入库单" kit-target data-id='7'><span>入库单</span></a></dd>
                        <dd><a href="javascript:;" data-url="stock/invOut/list.html" data-icon="&#xe658" data-title="出库单" kit-target data-id='8'><span>出库单</span></a></dd>
                        <dd><a href="javascript:;" data-url="stock/invCheck/list.html" data-icon="&#xe658" data-title="盘点单" kit-target data-id='9'><span>盘点单</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;" aria-hidden="true">&#xe63c;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;销售订单</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="sale/order/list.html" data-icon="&#xe658" data-title="销售订单管理" kit-target data-id='10'><span>销售订单管理</span></a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a class="" href="javascript:;"><i class="layui-icon" style="font-size: 20px;" aria-hidden="true">&#xe629;</i><span>&nbsp;&nbsp;&nbsp;&nbsp;报表统计</span></a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" data-url="stock/invIn/list.html" data-title="报表统计" kit-target data-id='11'><span>报表统计</span></a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" id="container">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">主体内容加载中,请稍等...</div>
    </div>
    <div class="layui-footer">
        <!-- 底部固定区域 -->
    </div>
</div>
<script>
    var message;
    layui.config({
        base: '/build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
    });
    layui.use(['element', 'layer'], function(){
        var element = layui.element;
        var $ = layui.jquery, layer = layui.layer;
        var laydate = layui.laydate;
        layerTips = parent.layer === undefined ? layui.layer : parent.layer //获取父窗口的layer对象
    });
</script>
</body>

</html>